@import "bootstrap";


.spoon_thumbnail {
  border: 1px solid #aaa;
  padding: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 12px #999; 
  -moz-box-shadow: 0px 5px 12px #999; 
  box-shadow: 0px 5px 12px #999; 
}